<tr>
  <td style="text-align: center">
    <% if(assigned.findIndex((id) => employee.id == id) === -1){ %>
    <input type="checkbox" name="<%= i %>" value="<%= employee._id %>" />
    <% }else{ %>
    <input
      type="checkbox"
      name="<%= i %>"
      value="<%= employee._id %>"
      checked
    />
    <% } %>
  </td>
  <td><%= employee.name %></td>
  <td><%= employee.email %></td>
</tr>
