<tr>
  <td><%= n %></td>
  <td><%= employee.name %></td>
  <td><%= employee.email %></td>
  <td><%= employee.type %></td>
  <td class="center">
    <a href="/admin/update-page/<%= employee._id %>">
      <i class="fa-regular fa-pen-to-square"></i>
    </a>
  </td>
</tr>
